<h1><%= @pirate.name %> <%= @pirate.weight %> <%= @pirate.height %></h1>


<h2><%= @ships.first.name %> <%= @ships.first.booty %> <%= @ships.first.type %></h2>


<h2><%= @ships.last.name %> <%= @ships.last.booty %> <%= @ships.last.type %></h2>